body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}
header{
    background-color: aqua;
    color: white;
    text-align: center;
    padding: 20px;
}
section{
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0,0,0,0.1);
        
}
h2{
    color:aqua;
    text-align: left;
}
h3{
    color:aqua;
    text-align: left;
}
.container{
    text-align: center;
}
img{
    max-width: 200px;
}